<ion-header>
  <ion-navbar>
    
    <ion-title>Home</ion-title>
  </ion-navbar>
  
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Todo's List
    <ion-buttons>
      <button style="float: right;" (click)="addTodoList()">
          <ion-icon name="add"></ion-icon>
      </button>
 </ion-buttons>  
    </ion-card-header>

    <ion-list>
    <ion-item-sliding *ngFor="let item of todoList"  >
        <ion-item (click)="pushPage(item)" >
           {{item.name}} 
           ({{nbrItemNonFini(item.uuid)}})
          </ion-item>
        
          <ion-item-options side="right" >
            <button ion-button (click) = "updateList(item)" >Edit</button>
            <button ion-button color="danger" (click)="deleteList(item.key)">Delete</button>
          </ion-item-options>
    </ion-item-sliding>
      
   

    </ion-list>
  </ion-card>

  <ion-list>
    
    
    </ion-list>


</ion-content>

  
    <p>Appuyez sur 'Lancer !' puis parlez à votre appareil de manière clair et reposé</p>
    <button ion-button [color]="(isListening) ? 'danger' : 'secondary'" (tap)="(isListening) ? stopListening() : startListening()">
      {{ (isListening) ? 'Stop !' : 'Lancer !' }}
    </button>
  </div>
  <ion-list class="matches-wrapper">
    <ion-item *ngIf="matches.length <= 0">
      Aucun résultat :S
    </ion-item>
    <ion-item *ngFor="let match of matches">
      {{ match }}
    </ion-item>
  </ion-list>
