<!--
  Generated template for the DetailsItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Details</ion-title>
        <ion-buttons end>
            <button ion-button  (click)="closeModal()">Fermer</button>
        </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>
  
  <img  height="150 px" width="150 px"  src="{{item.urlImage}}">

  <ion-item>
    <ion-label>Name: {{item.name}}</ion-label>
  </ion-item>
  <ion-item>
      <ion-label>Description :{{item.desc}}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label *ngIf="item.complete">Done</ion-label>
        <ion-label *ngIf="!item.complete">In progress</ion-label>
        <ion-icon *ngIf="item.complete" icon-only item-right clear name="md-checkmark-circle-outline"></ion-icon>
        <ion-icon *ngIf="!item.complete" icon-only item-right clear name="md-clipboard"></ion-icon>

      </ion-item>
    
</ion-content>
